
.dundin {
  font-size: 18px;
  font-weight: bold;
  background-color: #2d2926;
  border: none;
  color: black;
}

.cor {
  background-color: #ac9b9b;

}

.button {
  display: inline-block;
  background-color: #2d2926;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 1.5%;
  margin-top: 1.5%;
  padding: 10px 20px;
  float: right;
  border-radius: 5px;
  box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
  text-decoration: none;
}

.button:hover {
  color: white;
  box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(0px, -5px) scale(1.2);
  transform: translate(0px, -5px) scale(1.2);
}